<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">Information</h6>
                    <h2 class="mt-2">Information for the site</h2>
                    <p>{{ "King Fahd Road, Riyadh, Saudi Arabia"|t }}</p>
                    <p>{{ "+966 55 555 5555"|t }}</p>
                    <p>{{ "info@devspring.com"|t }}</p>
                    <div class="social-media">
                        <a href="{{ "https://www.facebook.com/devspring"|t }}"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{ "https://www.twitter.com/devspring"|t }}"><i class="fab fa-twitter"></i></a>
                        <a href="{{ "https://www.instagram.com/devspring"|t }}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>