 <div class="container-xxl py-5 projects-block">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">{{ "Our Projects"|t }}</h6>
                    <h2 class="mt-2">{{ title_project | raw }}</h2>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="btn px-3 pe-4 active" data-filter="*">{{ "All"|t }}</li>
                            <li class="btn px-3 pe-4" data-filter=".first">{{ "Design"|t }}</li>
                            <li class="btn px-3 pe-4" data-filter=".second">{{ "Development"|t }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                {{ rows }}
                </div>
            </div>
        </div>
        </div>