       
       {{ drupal_block('devspring_subheader_block') }}
         <div class="container-xxl py-5 bg-primary hero-header mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated zoomIn">{{  view.getTitle() }}</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                            {{ page.breadcrumb }}
                        </div>
                    </div>
                </div>
            </div>

        <div class="container-xxl py-5 projects-list">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">{{ "Our Projects"|t }}</h6>
                    <h2 class="mt-2">{{ "Recently Launched Projects"|t }}</h2>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="btn px-3 pe-4 active" data-filter="*">{{ "All"|t }}</li>
                            <li class="btn px-3 pe-4" data-filter=".first">{{ "Design"|t }}</li>
                            <li class="btn px-3 pe-4" data-filter=".second">{{ "Development"|t }}  </li>
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                {{ rows }}
                </div>
            </div>
        </div>
        </div>